profiles {
    local {
        process {
            executor = 'local'
            memory = '1 GB'
            cpus = 1
            time = '1h'
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'htc'
            memory = '1 GB'
            cpus = 1
            time = '1h'
        }

        process {
            withName: hyperparameterTuning {
                cpus = 2
                time = '2h'
                queue = 'hpc'
                memory = '2 GB'
            }
        }
    }
}

// Path to the input data for local testing
params {
	input_file = 'data/input_data.csv'
	hyperparams = [
		'{"C": 0.1, "max_iter": 10}',
		'{"C": 1, "max_iter": 20}',
		'{"C": 10, "max_iter": 30}'
	]
}